<%- include('header') %>
    <section>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h3>Login Form</h3>
                <% if (typeof message !== 'undefined') { %>
                    <div class="alert alert-danger fade show"><%= message %></div>
                <% } %>
                <script>
                    setTimeout(() => {
                        const alerts = document.querySelectorAll('.alert');
                        alerts.forEach(alert => {
                            const bsAlert = new bootstrap.Alert(alert);
                            bsAlert.close();
                        });
                    }, 5000);
                </script>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form action="/api/login" method="post">
                    <label for="useremail" class="form-label">Username</label>
                    <input type="text" class="form-control" name="useremail" id="useremail" required>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="userpassword" id="userpassword" required>
                    <div class="mt-3">
                        <input type="submit" value="Submit" class="form-control btn btn-primary">
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </section>
<% include('footer') %>